@import 'variables';

$primary-color: #7C42A3;
$shadow-color: rgba(0, 0, 0, 0.3);
$text-color: #222;
$gradient-border: linear-gradient(135deg, #7C42A3, #B08BC9);

body {
    font-family: Arial, sans-serif;
    background: $background-color;
    height: 100vh;
    margin: 0;
}
.logo-container{
    height: auto;
    width: auto;
    display: flex;
    justify-content:first baseline;
    padding: 8px 20px;
    position: relative;
    z-index: 1;
}
.logo{
    height: 40px;
    position: relative;
}
.background_general {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 50px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-color: #7C42A3;
    overflow: hidden; // Asegura que el velo blanco cubra bien la imagen

    // Imagen de fondo dentro del HTML
    .background-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; // Mantiene la proporción sin distorsionar
        z-index: -2; // La imagen queda en el fondo
    }

    // Velo blanco (Mantiene el efecto original)
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5); // Ajusta la opacidad del velo aquí
        z-index: -1; // Se coloca sobre la imagen pero debajo del contenido
    }
}

 .card {
    position: relative;
    background: $background-color;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: 0 4px 8px rgba(23, 1, 35, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 15px; 
 }

.circle-logo1{
    background-color: $primary-color;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:     5px 5px 10px rgba(0, 0, 0, 0.2), 
    -5px -5px 10px rgba(255, 255, 255, 0.7);
    
}

.circle-logo {
        position: relative;
        width: 90%;
        height: 90%;
        background: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 6px 15px rgba(0.3, 0.5, 0.5, 0.4), inset -3px -3px 5px rgba(0.4, 0.4, 0.5, 0.5)
        
    }
    .editable-cantainer{
        height: 95%;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.editable-cantainer{
    img{
        height: 75%;
        width: auto;
    }
}

h1 {
    color: $primary-color;
    margin: 10px 0px;
    font-size: 2.25rem;
    text-align: center;
}
.p{
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    margin: 5px 0px;
}
a {
    color: #020288;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out; 
}

a:hover {
    transform: scale(1.1); 
    color: #ae13d1; 
}

.icon{
    img{
        height: 55px;
    }
    
}
@media(min-width:768px){

    .logo{
        height: 45px;
        position: relative;
    }
    .background_general {
        border-top: solid 4px;
        border-bottom: solid 4px;
        border-color: #7C42A3;
    }
    
    .circle-logo1{
        height: 135px;
        width: 135px;        
    }
    
    
    h1 {
        color: $primary-color;
        margin: 10px 0px;
        font-size: 3rem;
    }
    .p{
        font-size: 1.5rem;
    }
    a{
        font-size: 1rem;
    }
}
@media(min-width:1024px){
    h1{
        font-size: 3.5rem;
    }

    .p{
        font-size: 1.5rem;
    }
    a{
        font-size: 1rem;
    }
    .icon{
        img{
            height: 60px;
        }
        
    }
}
@media(min-width:1440px){
    h1{
        font-size: 4rem;
    }

    .p{
        font-size: 2.5rem;
    }
    a{
        font-size: 1.5rem;
    }
    .icon{
        img{
            height: 65px;
        }
        
    }
}
@media(min-width:1920px){
    .logo{
        height: 75px;
        position: relative;
    }

    .circle-logo1{
        height: 200px;
        width: 200px;       
    }

    h1{
        font-size: 4rem;
    }

    .p{
        font-size: 2rem;
    }
    a{
        font-size: 1.5rem;
    }


    .icon{
        img{
            height: 90px;
        }
        
    }
    .circle-logo1{
        height: 250px;
        width: 250px;       
    }
}

